<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>show parts</title>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../styles/styleLogin.css">
    <link rel="stylesheet" href="../styles/stylesBS.css">

</head>

<body ng-app="eLogcardFrontApp" ng-controller="addAssemblyCtrl">
    <div class="header">
        <div ng-include="'includes/header.html'"></div>
    </div>
    <div class="container">
        <div class="form">
            <form name="create">
                <h1>Create a new Assembly </h1>
                
				 <div class="top-row">
                    <div class="field-wrap">
                        <label class="" ng-class="{active:true, highlight:true }">
							Assembly Number<span class="req">*</span>
						</label>
                        <input type="text" required autocomplete="off" ng-model="addAssemblyCtrl.assemblyNumber" />
                    </div>

                    <div class="field-wrap">
                        <label ng-class="{active:true, highlight:true }">
							Serial Number<span class="req">*</span>
						</label>
                        <input type="text" required autocomplete="off" ng-model="addAssemblyCtrl.SerialNumber" />
                    </div>
                </div>
             
			   <div class="field-wrap">
                    <label ng-class="{active:true, highlight:true }">
						Assembly Name <span class="req">*</span>
					</label>
                    <input type="text" required autocomplete="off" ng-model="addAssemblyCtrl.name" />
               </div>
				  <!--
				<div class="top-row">
                    <div class="field-wrap">
                        <label class="" ng-class="{active:true, highlight:true }">
                Assembly Number<span class="req">*</span>
              </label>
                        <input type="text" required autocomplete="off" ng-model="addAssemblyCtrl.assemblyNumber" />
                    </div>

                    <div class="field-wrap">
                        <label ng-class="{active:true, highlight:true }">
              Serial Number<span class="req">*</span>
            </label>
                        <input type="text" required autocomplete="off" ng-model="addAssemblyCtrl.SerialNumber" />
                    </div>
                </div>
				
				-->
                <!--
                <div class="field-wrap">
                    <label ng-class="{active:true, highlight:true }">
              Assembly name<span class="req">*</span>
            </label>
                    <input type="text" required autocomplete="off" ng-model="addAssemblyCtrl.name" />
                </div> -->


                <button type='submit' ng-click="addAssemblyCtrl.doClickCreateAssembly(create)" type="submit" class="button button-block">Create</button>
            </form>
            <div class="label" ng-show="addAssemblyCtrl.faillureRequest ">
                <div class="alert alert-danger " role="alert">
                    <strong> Faillure</strong>
                    <strong> assembly creation  
                            {{ addAssemblyCtrl.status }}
                            <pre>
                        {{ addAssemblyCtrl.answer}}
                        </pre>
                            </strong>
                </div>
            </div>
        </div>
    </div>

    <script src="..\bower_components/jquery/dist/jquery.js"></script>
    <script src="../scripts/controllers/addAssembly.js"></script>

</body>

</html>
