<!-- obligatoire tant que je ne met pas le menu en composant -->

<head>
    <meta charset="UTF-8">
    <title> attach part </title>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../styles/styleLogin.css">
    <link rel="stylesheet" href="../styles/stylesBS.css">

</head>
<div class="header">
    <div ng-include="'includes/header.html'"></div>

</div>
<div class="container">
    <div class="form">
        <form name="join">
            <h1>Attach part to {{attachPartCtrl.itemType}}:</h1>
            <h2>{{attachPartCtrl.itemId}}</h2>

            <div class="field-wrap">
                <label class="" ng-class="{active:true, highlight:true }">
                 Id target  <span class="req">*</span>
              </label>
                <input type="text" required autocomplete="off" ng-model="attachPartCtrl.targetId" />
            </div>
            <button type='submit' ng-click="attachPartCtrl.doClickAttachPart(attachPartCtrl.targetId)" type="submit" class="button button-block">Attach to {{attachPartCtrl.itemType}}</button>
        </form>
        <div class="label" ng-show="attachPartCtrl.faillureRequest ">
            <div class="alert alert-danger " role="alert">
                <strong> Faillure</strong>
                <strong> Attach part   
                            {{ attachPartCtrl.status }}
                            <pre>
                        {{ attachPartCtrl.answer}}
                        </pre>
                            </strong>
            </div>
        </div>
    </div>

</div>

<script src="..\bower_components/jquery/dist/jquery.js"></script>
<script src="../scripts/controllers/attachpart.js"></script>
