<!-- obligatoire tant que je ne met pas le menu en composant -->

<head>
    <meta charset="UTF-8">
    <title> attach part </title>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../styles/styleLogin.css">
    <link rel="stylesheet" href="../styles/stylesBS.css">

</head>
<div class="header">
    <div ng-include="'includes/header.html'"></div>

</div>
<div class="container">
    <div class="form">
        <form name="join">
            
			
			<h1>Select the part to attach to {{attachCtrl.itemType}}</h1>  
						 <!-- <h1>Attach part to {{attachCtrl.itemType}}</h1>  -->
			 <!--  <h2>{{attachCtrl.itemId}}</h2>  -->
			<!--	<h1> Choose a part from the list: </h1>  -->

            <div class="field-wrap">
                <label class="" ng-class="{active:true, highlight:true }">
                 Id target  <span class="req">*</span>
              </label>
                <input type="text" required autocomplete="off" ng-model="attachCtrl.targetId" />
            </div>
          <!--  <button type='submit' ng-click="attachCtrl.doClickAttach(attachCtrl.targetId)" type="submit" class="button button-block">Attach to {{attachCtrl.itemType}}</button> --> 
		  <button type='submit' ng-click="attachCtrl.doClickAttach(attachCtrl.targetId)" type="submit" class="button button-block">Attach</button> 
        </form>
        <div class="label" ng-show="attachCtrl.faillureRequest ">
            <div class="alert alert-danger " role="alert">
                <strong> Faillure</strong>
                <strong> Attach part   
                            {{ attachCtrl.status }}
                            <pre>
                        {{ attachCtrl.answer}}
                        </pre>
                            </strong>
            </div>
        </div>
    </div>

</div>

<script src="..\bower_components/jquery/dist/jquery.js"></script>
<script src="../scripts/controllers/attachpart.js"></script>
<script src="../scripts/controllers/attachassembly.js"></script>
