<head>
    <meta charset="UTF-8">
    <title>Generate QR Code </title>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../styles/styleLogin.css">
    <link rel="stylesheet" href="../styles/stylesBS.css">

</head>

<body ng-app="eLogcardFrontApp" ng-controller="ScanqrcodeCtrl">
    <div class="header">
        <div ng-include="'includes/header.html'"></div>
    </div>
    <div class="container">
        <div class="container-show">
            <h1> QR Code generate </h1>

        </div>

        <div class="container-show">
            <div id="placeHolder"></div>
        </div>

    </div>

    <script src="..\bower_components/jquery/dist/jquery.js"></script>
    <script src="../scripts/controllers/scanqrcode.js"></script>

</body>
