<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Sign-Up/Login Form</title>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../styles/styleLogin.css">
    <link rel="stylesheet" href="../styles/stylesBS.css">
</head>

<body ng-app="eLogcardFrontApp" ng-controller="loginCtrl">

    <div class="header">
        <div ng-include="'includes/header.html'"></div>
    </div>
    <div class="header">
        <div class="container">
            <div class="form">
                <ul class="tab-group">
                    <li class="tab" ng-class="{active: loginCtrl.newUser }" ng-click="loginCtrl.doClickSignUp($event)"><a href="">Sign Up</a></li>
                    <li class="tab" ng-class="{active: !(loginCtrl.newUser) }" ng-click="loginCtrl.doClickLogin($event)"><a href="">Log In</a></li>
                </ul>

                <div class="tab-content">
                    <form name="signup" id="signup" ng-show="loginCtrl.newUser">
                        <h1>Sign Up </h1>

                        <div class="field-wrap">
                            <label class="" ng-class="{active:true, highlight:true }">
                User Name<span class="req">*</span>
              </label>
                            <input type="text" required autocomplete="off" ng-model="loginCtrl.userName" />
                        </div>
                        <div>
                            <div>
                                <select required class="field-wrap" ng-model="loginCtrl.role">
                 <option ng-repeat="x in loginCtrl.roles" value={{x.value}}> {{ x.label }}</option>
            </select>
                            </div>
                        </div>

                        <div class="field-wrap">
                            <label ng-class="{active:true, highlight:true }">
              Set A Password<span class="req">*</span>
            </label>
                            <input type="password" name="password" required autocomplete="off" ng-model="loginCtrl.password" />
                        </div>

                        <div class="field-wrap">
                            <label ng-class="{active:true, highlight:true }">
                                
              Comfirm Password<span class="req">*</span>
             <span ng-show = "(loginCtrl.passwordVerify == loginCtrl.password )&& (signup.password.$valid)"> Validate </span>
             <span ng-hide ="(loginCtrl.passwordVerify == loginCtrl.password)"> not good </span>
            </label>
                            <input type="Password" name="passwordVerify" required autocomplete="off" ng-model="loginCtrl.passwordVerify">

                        </div>


                        <button type='submit' ng-click="loginCtrl.doClickCreateUser(signup)" type="submit" class="button button-block">Get Started</button>

                    </form>

                    <form name="login" id="login" ng-show="!(loginCtrl.newUser)" novalidate>
                        <h1>Welcome Back!</h1>

                        <div class="field-wrap">
                            <label ng-class="{active:true, highlight:true }">
              User Name<span class="req">*</span>
            </label>
                            <input type="userName" required autocomplete="off" ng-model="loginCtrl.userName" />
                        </div>

                        <div class="field-wrap">
                            <label ng-class="{active:true, highlight:true }">
              Password<span class="req">*</span>
            </label>
                            <input type="password" required autocomplete="off" ng-model="loginCtrl.password" />
                        </div>

                        <button type='submit' ng-click="loginCtrl.doClickConnectUser(login)" class="button button-block">Log In</button>

                    </form>
                </div>

                <div>
                    <div class="label" ng-show="loginCtrl.faillureRequest ||loginCtrl.faillureRoleRequest ">
                        <div class="alert alert-danger " role="alert">

                            <strong> Faillure</strong> <strong ng-show="loginCtrl.newUser"> User Creation</strong>
                            <strong ng-hide="loginCtrl.newUser">User Connection </strong>
                            <strong ng-show="loginCtrl.faillureRoleRequest"> load roles </strong>
                        </div>
                    </div>
                    <div class="label" ng-show=" loginCtrl.faillureRolesRequest ">
                        <div class="alert alert-danger " role="alert">
                            <strong> 
                                eLogcard  application not online please come back later
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">

    </div>

    <script src="..\bower_components/jquery/dist/jquery.js"></script>
    <script src="../scripts/controllers/login.js"></script>

</body>

</html>
