<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>show parts</title>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../styles/styleLogin.css">
    <link rel="stylesheet" href="../styles/stylesBS.css">

</head>

<body ng-app="eLogcardFrontApp" ng-controller="showAssemblysCtrl">
    <div class="header">
        <div ng-include="'includes/header.html'"></div>
    </div>

    <div class="container">
        <div class="container-show">

            <h1>{{showAssemblysCtrl.message}} </h1>

        </div>
        <div class="container-show" ng-hide="showAssemblysCtrl.deletedAssemblies[assembly.id_assembly]" ng-repeat="assembly in showAssemblysCtrl.assemblies">

            <h1>{{assembly.sn}} </h1>
            <div class="top-row">
                <div class="field-wrap">
                    <label class="active highlight">
                           <span > an:</span>
                         {{assembly.an}}
                        </label>
                </div>

                <div class="field-wrap">
                    <label class="active highlight">
                        <span > sn:</span>
                         {{assembly.sn}}
                        </label>
                </div>
            </div>

            <div class="top-row">
                <div class="field-wrap">
                    <label class="active highlight">
                        <span > owner:</span>
                         {{assembly.owner}}
                        </label>
                </div>

                <div ng-show="showAssemblysCtrl.showId" class="field-wrap">
                    <label class="active highlight">
                        <span > id:</span>
                         {{assembly.id_assembly}}
                        </label>
                </div>
            </div>

            <div class="field-wrap">
            </div>

            <div class="field-wrap">

                <button type='submit' ng-click="showAssemblysCtrl.doClickShowLogs( assembly.id_assembly)" type="submit" class="button button-block">show logs <span class ="badge  badge-pill">{{assembly.logs.length}}</span> </button>
            </div>
            <div class="field-wrap">

                <button type='submit' ng-click="showAssemblysCtrl.doClickTransfertOwnerShip( assembly.id_assembly)" type="submit" class="button button-block">Transfert </button>
            </div>

            <div class="field-wrap">

                <button type='submit' ng-click="showAssemblysCtrl.doClickScrap( assembly.id_assembly)" type="submit" class="button button-block">Scrapp </button>
            </div>

            <div class="field-wrap">

                <button type='submit' ng-click="showAssemblysCtrl.doClickShowParts( assembly.id_assembly)" type="submit" class="button button-block"> parts<span class ="badge  badge-pill">{{assembly.parts.length}}</span>  </button>
            </div>

            <div class="field-wrap">

                <button type='submit' ng-click="showAssemblysCtrl.doClickAddPart( assembly.id_assembly)" type="submit" class="button button-block">add part </button>
            </div>

            <div class="field-wrap" ng-show="showAssemblysCtrl.aircraftMode ==true">

                <button type='submit' ng-click="showAssemblysCtrl.doClickRemove( assembly.id_assembly)" type="submit" class="button button-block">remove to aircraft
                </button>
            </div>

            <div class="field-wrap" ng-show="showAssemblysCtrl.aircraftMode ==true">

                <button type='submit' ng-click="showAssemblysCtrl.doClickReplace( assembly.id_assembly)" type="submit" class="button button-block">replace assembly </button>
            </div>
        </div>
    </div>

    <script src="..\bower_components/jquery/dist/jquery.js"></script>
    <script src="../scripts/controllers/showAssemblys.js"></script>

</body>

</html>
