<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>show parts</title>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../styles/styleLogin.css">
    <link rel="stylesheet" href="../styles/stylesBS.css">

</head>

<body ng-app="eLogcardFrontApp" ng-controller="showPartlogCtrl">
    <div class="header">
        <div ng-include="'includes/header.html'"></div>
    </div>
    <div class="container">

        <div class="container-show">

            <h1> Part Logs : {{showPartlogCtrl.part.partName}} </h1>

            <!--
            <div class="top-row">
                <div class="field-wrap">
                </div>

                <button type='submit' ng-click="showPartlogCtrl.doClickTransfer(showPartlogCtrl.part.id) " type="submit " class="button button-block ">Transfert </button>
            </div>

            <div class="top-row">
                <div class="field-wrap">
                </div>

                <button type='submit' ng-click="showPartlogCtrl.doClickAddLog(showPartlogCtrl.part.id) " type="submit" class="button button-block "> Perform Activities  </button>
            </div>
-->
        </div>

        <div class="container-show" ng-repeat="x in showPartlogCtrl.part.logs">

            <h1>{{x.log_type}} </h1>
            <div class="top-row">
                <div class="field-wrap">
                    <label class="active highlight">
                        <span > Date:</span>
                         {{x.vDate}}
                        </label>
                </div>

                <div class="field-wrap">
                    <label class="active highlight">
                        <span > owner:</span>
                         {{x.owner}}
                        </label>
                </div>
            </div>
            <div class="top-row">
                <div class="field-wrap">
                    <label class="active highlight">
                           <span > responsible:</span>
                         {{x.responsible}}
                        </label>
                </div>
                <div class="field-wrap">
                    <label class="active highlight">
                        <span > ModType:</span>
                         {{x.modType}}
                        </label>
                </div>
            </div>


            <div class="top-row">
                <div class="field-wrap">
                    <label class="active highlight">
                           <span > Description:   </span>                 
                        </label>
                </div>
                <div class="field-wrap">

                </div>
            </div>

            <div class="top-row">
                <textarea readonly rows="3" ng-model="x.description"></textarea>
            </div>
        </div>
    </div>

    <script src="..\bower_components/jquery/dist/jquery.js"></script>
    <script src="../scripts/controllers/showPartLog.js"></script>

</body>

</html>
