<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>show parts</title>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../styles/styleLogin.css">
    <link rel="stylesheet" href="../styles/styleW3C.css">
    <link rel="stylesheet" href="../styles/stylesBS.css">

</head>

<body ng-app="eLogcardFrontApp" ng-controller="showPartsCtrl">
    <div class="header">
        <div ng-include="'includes/header.html'"></div>
    </div>

    <div class="container">
        <div class="w3-container">
            <form>
                <h1>show your part's </h1>
            </form>
        </div>
        <div class="w3-container" ng-repeat="x in Parts">
            <form>
                <h1>{{x.partName}} </h1>
                <div class="top-row">
                    <div class="field-wrap">
                        <label class="active highlight">
                           <span > pn:</span>
                         {{x.pn}}
                        </label>
                    </div>

                    <div class="field-wrap">
                        <label class="active highlight">
                        <span > sn:</span>
                         {{x.sn}}
                        </label>
                    </div>
                </div>

                <div class="field-wrap">
                    <label class="active highlight">
                           <span > id:</span>
                         {{x.id}}
                        </label>
                </div>

                <div class="top-row">
                    <div class="field-wrap">
                        <label class="active highlight">
                        <span > partName:</span>
                         {{x.partName}}
                        </label>
                    </div>
                    <div class="field-wrap">
                        <label class="active highlight">
                           <span > type:</span>
                         {{x.type}}
                        </label>
                    </div>
                </div>
                <div class="top-row">
                    <div class="field-wrap">
                        <label class="active highlight">
                        <span > owner:</span>
                         {{x.owner}}
                        </label>
                    </div>
                    <div class="field-wrap">
                        <label class="active highlight">
                           <span > responsible:</span>
                         {{x.responsible}}
                        </label>
                    </div>
                </div>
                <div class="top-row">


                    <div class="field-wrap">
                        <label class="active highlight">
                        <span > helicopter:</span>
                         {{x.helicopter}}
                        </label>
                    </div>
                </div>
                <div class="top-row">
                    <div class="field-wrap">
                        <label class="active highlight">
                           <span > assembly:</span>
                         {{x.assembly}}
                        </label>
                    </div>
                </div>
        </div>
    </div>

    <div class="w3-container">

        <div class="row">
            <div class="w3-card-4">

                <header class="w3-container w3-blue">
                    <h1>Header</h1>
                </header>

                <div class="w3-container w3-black">
                    <p>Lorem ipsum...</p>
                </div>
            </div>

            <div class="w3-card ">

                <header class="w3-container w3-blue">
                    <h1>Header</h1>
                </header>

                <div class="w3-container">
                    <p>Lorem ipsum...</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4" style="background-color:lavender;">.col-sm-4</div>
            <div class="col-sm-4" style="background-color:lavenderblush;">.col-sm-4</div>
            <div class="col-sm-4" style="background-color:lavender;">.col-sm-4</div>
        </div>

        <div class="row w3-blue">
            <div class="col-sm-8">
                .col-sm-8
                <div class="row">
                    <div class="col-sm-6">.col-sm-6</div>
                    <div class="col-sm-6">.col-sm-6</div>
                </div>
            </div>
            <div class="col-sm-4">.col-sm-4</div>
        </div>



        <div class="row">
            <div class="col-sm-6" style="background-color:yellow;">
                <p>Lorem ipsum...</p>
            </div>
            <div class="col-sm-6" style="background-color:pink;">
                <p>Sed ut perspiciatis...</p>
            </div>
        </div>
    </div>

    <div class="footer">

    </div>

    <script src="..\bower_components/jquery/dist/jquery.js"></script>
    <script src="../scripts/controllers/addPart.js"></script>

</body>

</html>
