<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>show parts</title>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../styles/styleLogin.css">
    <link rel="stylesheet" href="../styles/stylesBS.css">

</head>

<body ng-app="eLogcardFrontApp" ng-controller="showOneAirCraftCtrl">
    <div class="header">
        <div ng-include="'includes/header.html'"></div>
    </div>

    <div class="container">
        <div class="container-show">
            <h1>MyAircrafts </h1>
        </div>
		
		

        <div class="container-show" ng-hide="showOneAircraftCtrl.deletedAirCrafts[airCraft.id_aircraft]" ng-repeat="airCraft in showOneAircraftCtrl.airCrafts">

            <h1>Aircraft Name: {{airCraft.componentName}} </h1>

            <div class="top-row">
                <div class="field-wrap">
                    <label class="alone highlight">
                           <span > AN:</span>
                         {{airCraft.an}}
                    </label>
                </div>
                <div class="field-wrap">
                    <label class="alone highlight">
                        <span > SN:</span>
                         {{airCraft.sn}}
                    </label>
                </div>
            </div>

            <button type='submit' ng-click="showOneAircraftCtrl.doClickShowLogs( airCraft.id_aircraft)" type="submit" class="button button-block">show logs<span class ="badge  badge-pill">{{airCraft.logs.length}}</span> </button>

            <div class="top-row">
                <div class="field-wrap">
                    <label class="alone highlight">
                        <span > Owner:</span>
                         {{airCraft.owner}}
                    </label>
                </div>
                <div class="field-wrap">
                    <label class="alone highlight">
                        <span > Responsible:</span>
                         {{airCraft.responsible}}
                    </label>
                </div>
            </div>

            <div ng-show="showOneAircraftCtrl.showId" class="field-wrap">
                <label class="alone highlight">
                        <span > ID:</span>
                         {{airCraft.id_aircraft}}
                    </label>
            </div>

            <button type='submit' ng-click="showOneAircraftCtrl.doClickTransfertOwnerShip( airCraft.id_aircraft)" type="submit" class="button button-block">transfer</button>

            <button type='submit' ng-click="showOneAircraftCtrl.doClickAddPart( airCraft.id_aircraft)" type="submit" class="button button-block">Attach a part </button>

            <button type='submit' ng-click="showOneAircraftCtrl.doClickAddAssembly( airCraft.id_aircraft)" type="submit" class="button button-block">Attach an assembly </button>

            <button type='submit' ng-click="showOneAircraftCtrl.doClickScrap( airCraft.id_aircraft)" type="submit" class="button button-block">Scrap</button>

            <button type='submit' ng-click="showOneAircraftCtrl.doClickShowParts( airCraft.id_aircraft)" type="submit" class="button button-block"> Listing of Parts <span class ="badge  badge-pill">{{airCraft.parts.length}}</span> </button>

            <button type='submit' ng-click="showOneAircraftCtrl.doClickAssemblies( airCraft.id_aircraft)" type="submit" class="button button-block">Listing of Assemblies<span class ="badge  badge-pill">{{airCraft.assemblies.length}}</span></button>

        </div>
    </div>

    <script src="..\bower_components/jquery/dist/jquery.js"></script>
    <script src="../scripts/controllers/showAirCrafts.js"></script>

</body>

</html>
