<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>show parts</title>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../styles/styleLogin.css">
    <link rel="stylesheet" href="../styles/stylesBS.css">

</head>

<body ng-app="eLogcardFrontApp" ng-controller="showAirCraftsCtrl">
    <div class="header">
        <div ng-include="'includes/header.html'"></div>
    </div>

    <div class="container">
        <div class="container-show">

            <h1>show your Aircrafts </h1>

        </div>

        <div class="container-show" ng-hide="showAirCraftsCtrl.deletedAirCrafts[airCraft.id_aircraft]" ng-repeat="airCraft in showAirCraftsCtrl.airCrafts">

            <h1>{{airCraft.an}} </h1>
            <div class="top-row">
                <div class="field-wrap">
                    <label class="active highlight">
                           <span > an:</span>
                         {{airCraft.an}}
                        </label>
                </div>

                <div class="field-wrap">
                    <label class="active highlight">
                        <span > sn:</span>
                         {{airCraft.sn}}
                        </label>
                </div>
            </div>


            <div class="field-wrap">
                <label class="active highlight">
                        <span > owner:</span>
                         {{airCraft.owner}}
                        </label>
            </div>


            <div ng-show="showAirCraftsCtrl.showId" class="field-wrap">
                <label class="active highlight">
                        <span > id:</span>
                         {{airCraft.id_aircraft}}
                        </label>
            </div>

            <div class="field-wrap">

                <button type='submit' ng-click="showAirCraftsCtrl.doClickShowLogs( airCraft.id_aircraft)" type="submit" class="button button-block">show logs<span class ="badge  badge-pill">{{airCraft.logs.length}}</span> </button>
            </div>

            <div class="field-wrap">

                <button type='submit' ng-click="showAirCraftsCtrl.doClickShowParts( airCraft.id_aircraft)" type="submit" class="button button-block">show parts <span class ="badge  badge-pill">{{airCraft.parts.length}}</span> </button>
            </div>

            <div class="field-wrap">

                <button type='submit' ng-click="showAirCraftsCtrl.doClickAddPart( airCraft.id_aircraft)" type="submit" class="button button-block">add part </button>
            </div>
            <div class="field-wrap">

                <button type='submit' ng-click="showAirCraftsCtrl.doClickScrap( airCraft.id_aircraft)" type="submit" class="button button-block">Scrapp</button>
            </div>

        </div>
    </div>





    <script src="..\bower_components/jquery/dist/jquery.js"></script>
    <script src="../scripts/controllers/showAirCrafts.js"></script>

</body>

</html>
