<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>show parts</title>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../styles/styleLogin.css">
    <link rel="stylesheet" href="../styles/stylesBS.css">

</head>

<body ng-app="eLogcardFrontApp" ng-controller="showAssemblysCtrl">
    <div class="header">
        <div ng-include="'includes/header.html'"></div>
    </div>

    <div class="container">
        <div class="container-show">
            <h1>{{showAssemblysCtrl.message + showAssemblysCtrl.name +showAssemblysCtrl.endMessage }} </h1>
        </div>
		
	

        <div class="container-show" ng-hide="showAssemblysCtrl.deletedAssemblies[assembly.id_assembly]" ng-repeat="assembly in showAssemblysCtrl.assemblies">
            <h1>Assembly Name: {{assembly.componentName}} </h1>
            <div class="top-row">
                <div class="field-wrap">
                    <label class="alone highlight">
                           <span > AN:</span>
                         {{assembly.an}}
                    </label>
                </div>
                <div class="field-wrap">
                    <label class="alone highlight">
                        <span > SN:</span>
                         {{assembly.sn}}
                    </label>
                </div>
            </div>

            <button type='submit' ng-click="showAssemblysCtrl.doClickShowLogs( assembly.id_assembly)" type="submit" class="button button-block fisrt">show logs <span class ="badge badge-pill">{{assembly.logs.length}}</span> </button>

            <div class="top-row">
                <div class="field-wrap">
                    <label class="alone highlight">
                        <span > Owner:</span>
                         {{assembly.owner}}
                        </label>
                </div>

                <div class="field-wrap">
                    <label class="alone highlight">
                        <span > Responsible:</span>
                         {{assembly.responsible}}
                        </label>
                </div>
            </div>

            <div class="field-wrap" ng-show="showAssemblysCtrl.showId">
                <label class="alone highlight">
                        <span > ID:</span>
                         {{assembly.id_assembly}}
                        </label>
            </div>


            <button type='submit' ng-click="showAssemblysCtrl.doClickTransfertOwnerShip( assembly.id_assembly)" type="submit" class="button button-block ">Transfer </button>

            <button type='submit' ng-click="showAssemblysCtrl.doClickScrap( assembly.id_assembly)" type="submit" class="button button-block">Scrap </button>

            <button type='submit' ng-click="showAssemblysCtrl.doClickAddPart( assembly.id_assembly)" type="submit" class="button button-block">Attach a part </button>

            <button type='submit' ng-click="showAssemblysCtrl.doClickShowParts( assembly.id_assembly)" type="submit" class="button button-block"> Listing of Parts <span class ="badge  badge-pill">{{assembly.parts.length}}</span>  </button>


            <div ng-show="showAssemblysCtrl.aircraftMode == true">
                <button type='submit' ng-click="showAssemblysCtrl.doClickRemove( assembly.id_assembly)" type="submit" class="button button-block">Remove from aircraft </button>
            </div>

            <div ng-show="showAssemblysCtrl.aircraftMode == true">
                <button type='submit' ng-click="showAssemblysCtrl.doClickReplace( assembly.id_assembly)" type="submit" class="button button-block">Replace with </button>
            </div>

        </div>
    </div>

    <script src="..\bower_components/jquery/dist/jquery.js"></script>
    <script src="../scripts/controllers/showAssemblys.js"></script>

</body>

</html>
