<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>show parts</title>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../styles/styleLogin.css">

    <link rel="stylesheet" href="../styles/stylesBS.css">

</head>

<body ng-app="eLogcardFrontApp" ng-controller="showPartsCtrl">
    <div class="header">
        <div ng-include="'includes/header.html'"></div>
    </div>

    <div class="container">
        <div class="container-show">
            <h1> MyParts </h1>
        </div>
        <div class="container-show" ng-hide="showPartsCtrl.deletedParts[part.id]" ng-repeat="part in showPartsCtrl.Parts">


            <h1>Part Name: {{part.partName}} </h1>
            <div class="top-row">

                <div class="field-wrap">
                    <label class="alone highlight">
                           <span > PN:</span>
                         {{part.pn}}
                        </label>
                </div>
                <div class="field-wrap">
                    <label class="alone highlight">
                        <span > SN:</span>
                         {{part.sn}}
                        </label>
                </div>
            </div>

            <button type='submit' ng-click="showPartsCtrl.doClickShowLog(part.id)" type="submit" class="button button-block">show logs<span class ="badge  badge-pill">{{part.logs.length}}</span> </button>

            <div class="top-row ">
                <div class="field-wrap ">
                    <label class="alone highlight ">
                           <span > ID:</span>
                         {{part.id}}
                        </label>
                </div>
                <div class="field-wrap ">
                    <label class="alone highlight ">
                        <span > Type:</span>
                         {{part.type}}
                        </label>
                </div>
            </div>
            <div class="top-row ">
                <div class="field-wrap ">
                    <label class="alone highlight ">
                           <span > Owner:</span>
                         {{part.owner}}
                        </label>
                </div>

                <div class="field-wrap ">
                    <label class="alone highlight ">
                        <span > Responsible:</span>
                         {{part.responsible}}
                        </label>
                </div>
            </div>
            <div class="top-row">
                <div class="field-wrap ">
                    <label class="alone highlight ">
                           <span > Assembly: </span>
                         {{part.assembly}}
                        </label>

                </div>
                <div class="field-wrap">
                    <label class="alone highlight">
                    <span> Aircraft:</span> {{part.helicopter}}
                </label>

                </div>
            </div>

            <button type='submit' ng-click="showPartsCtrl.doClickTransfer(part.id) " type="submit " class="button button-block ">Transfer </button>

            <button type='submit' ng-click="showPartsCtrl.doClickAddLog(part.id) " type="submit" class="button button-block "> Perform Activities  </button>

            <button type='submit' ng-click="showPartsCtrl.doClickScrap(part.id) " type="submit" class="button button-block ">scrap  </button>
        </div>
    </div>

    <script src="..\bower_components/jquery/dist/jquery.js "></script>
    <script src="../scripts/controllers/addPart.js "></script>

</body>

</html>
