<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>show parts </title>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../styles/styleLogin.css">

    <link rel="stylesheet" href="../styles/stylesBS.css">

</head>

<body ng-app="eLogcardFrontApp" ng-controller="ShowPartListingCtrl">
    <div class="header">
        <div ng-include="'includes/header.html'"></div>

        <div class="container-show">

		     <h1> Assembly ({{ShowPartListingCtrl.name}}): Listing of Parts </h1>
			
			<!--
            <h1>show {{ShowPartListingCtrl.itemType+ " "+ ShowPartListingCtrl.name}} </h1>
            <h1> :{{ ShowPartListingCtrl.item.sn}} parts </h1>
			-->
        </div>
    </div>
    <div class="container">
        <div class="container-show" ng-hide="ShowPartListingCtrl.deletedParts[part.id]" ng-repeat="part in ShowPartListingCtrl.parts">
            <!-- <form> -->
            <h1>{{part.partName}} </h1>
            <div class="top-row">
                <div class="field-wrap">
                    <label class="active highlight">
                           <span > PN:</span>
                         {{part.pn}}
                        </label>
                </div>

                <div class="field-wrap">
                    <label class="active highlight">
                        <span > SN:</span>
                         {{part.sn}}
                        </label>
                </div>
            </div>
            <div class="top-row">
                <div class="field-wrap">
                </div>

                <button type='submit' ng-click="ShowPartListingCtrl.doClickShowLog(part.id)" type="submit" class="button button-block">show logs<span class ="badge  badge-pill">{{part.logs.length}}</span> </button>
            </div>

            <div class="top-row ">
                <div class="field-wrap ">
                    <label class="active highlight ">
                           <span > Type:</span>
                         {{part.type}}
                        </label>
                </div>
                <div class="field-wrap ">
                    <label class="active highlight ">
                        <span > Owner:</span>
                         {{part.owner}}
                        </label>
                </div>
            </div>
            <div class="top-row ">
                <div class="field-wrap ">
                    <label class="active highlight ">
                           <span > Responsible:</span>
                         {{part.responsible}}
                        </label>
                </div>

                <div class="field-wrap ">
                    <label class="active highlight ">
                        <span > Aircraft:</span>
                         {{part.helicopter}}
                        </label>
                </div>
            </div>
            <div class="top-row ">
                <div class="field-wrap ">
                    <label class="active highlight ">
                           <span > Assembly: </span>
                         {{part.assembly}}
                        </label>

                </div>
                <div class="field-wrap ">
                </div>
            </div>
            <div class="field-wrap ">
            </div>
            <div class="field-wrap ">
                <button type='submit' ng-click="ShowPartListingCtrl.doClickRemovePart(part.id)" type="submit" class="button button-block">Remove from assembly  </button>
            </div>
            <div class="field-wrap ">
                <button type='submit' ng-click="ShowPartListingCtrl.doClickReplacePart(part.id)" type="submit" class="button button-block">replace with  </button>
            </div>
        </div>

    </div>


    <script src="..\bower_components/jquery/dist/jquery.js "></script>
    <script src="../scripts/controllers/addPart.js "></script>

</body>

</html>
