<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title> Transfer </title>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../styles/styleLogin.css">
    <link rel="stylesheet" href="../styles/stylesBS.css">

</head>

<body ng-app="eLogcardFrontApp" ng-controller="transferCtrl">
    <div class="header">
        <div ng-include="'includes/header.html'"></div>
    </div>
    <div class="container">
        <div class="form">

            <form name="create">

                <h1>transfer {{ transferCtrl.itemType}}
                </h1>
                <!--
                <h1>test{{transferCtrl.typeTransfers["parts"]["Owner"].value}}
                </h1>
                <ul class="tab-group">
                    <li class="tab" ng-class="{active: transferCtrl.ownerMode }" ng-click="transferCtrl.doClickOwner($event)"><a href="">Owner</a></li>
                    <li class="tab" ng-class="{active: !(transferCtrl.ownerMode) }" ng-click="transferCtrl.doClickResposible($event)"><a href="">Responsible</a></li>
                </ul>

                <ul class="tab-group">
                    <li class="tab" ng-class="{active: loginCtrl.newUser }" ng-click="loginCtrl.doClickSignUp($event)"><a href="">Sign Up</a></li>
                    <li class="tab" ng-class="{active: !(loginCtrl.newUser) }" ng-click="loginCtrl.doClickLogin($event)"><a href="">Log In</a></li>
                </ul> 

-->

                <div class="field-wrap" ng-show="transferCtrl.itemType=='part'" ng-repeat="SelectedType in transferCtrl.listTypeTransfert">

                    <input type="radio" ng-click="transferCtrl.doClickRadioType()" ng-model="transferCtrl.radioTransferType" value="{{SelectedType}}" /> <label ng-class="{active:false, highlight:true }">
              {{SelectedType}}
            </label>
                </div>

                <div class="field-wrap">
                    <label ng-class="{active:true, highlight:true }">
              New {{transferCtrl.radioTransferType }} <span class="req">*</span>
            </label>
                    <input type="text" required autocomplete="off" ng-model="transferCtrl.UsertransferTarget" ng-value="owner" />
                </div>

                <button type='submit' ng-click="transferCtrl.doClickSendTransfert(create)" type="submit" class="button button-block">Transfer</button>
            </form>
            <div class="label" ng-show="transferCtrl.faillureRequest ">
                <div class="alert alert-danger " role="alert">
                    <strong> Faillure</strong>
                    <strong> part creation  
                            {{ transferCtrl.status }}
                            <pre>
                        {{transferCtrl.answer}}
                        </pre>
                            </strong>
                </div>
            </div>
        </div>

    </div>

    <script src="..\bower_components/jquery/dist/jquery.js"></script>
    <script src="../scripts/controllers/transfer.js"></script>

</body>

</html>
