/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

html,
body {
    font-size: 100%;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

p {
    margin: 0;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Glegoo', serif;
    margin: 0;
}

ul,
label {
    margin: 0;
    padding: 0;
}

body a:hover {
    text-decoration: none;
}


/*-- header --*/

input[type="submit"],
.panel-body ul li a,
.checkout-right-basket a,
.additional_info_sub_grid_right a,
.panel_bottom li a,
.panel-title a,
.breadcrumb_dress ul li a,
.multi-column-dropdown li a,
.footer-copy p a,
.w3_footer_grid ul li a,
.agileinfo_banner_bottom1_grid_left a,
.navbar-default .navbar-nav>li>a,
.simpleCart_shelfItem p a,
.agile_ecommerce_tab_left h5 a,
.w3_hs_bottom ul li a,
.team-bottom a {
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.header {
    padding: 2em 0 0;
}

.w3l_login {
    float: left;
}

.w3l_logo {
    float: left;
    margin-left: 22em;
}

.w3l_logo h1 a {
    font-size: 1.1em;
    color: #212121;
    text-decoration: none;
}

.w3l_logo h1 a span {
    display: block;
    font-size: .3em;
    text-transform: capitalize;
    letter-spacing: 7px;
    padding-left: 4px;
    text-align: center;
    margin-top: 0.5em;
}

.w3l_login a {
    font-size: .8em;
    color: #3c43a4;
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    border: 1px solid #3c43a4;
    margin-top: 0.5em;
}

.w3l_login a span {
    top: 1.3em;
}

a.act {
    color: #ff5063 !important;
}


/*-- navigation --*/

.navbar-default .navbar-nav>li>a {
    color: #fff;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: transparent;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    color: #d8703f;
}

.navbar-default .navbar-nav>li>a:focus {
    color: #ff5063 !important;
}

.navbar-default {
    background: none;
    border: none;
}

.navbar-collapse {
    padding: 0;
}

ul.multi-column-dropdown h6 {
    font-size: 1.5em;
    color: #3c43a4;
    margin: 0 0 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #E4E4E4;
    text-transform: capitalize;
}

.multi-column-dropdown li {
    list-style-type: none;
    margin: 7px 0;
}

.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #999 !important;
    white-space: normal;
    font-weight: 500 !important;
    text-decoration: none;
}

.multi-column-dropdown li a:hover {
    color: #212121 !important;
}

.multi-column-dropdown li a span {
    margin-left: 1em;
    padding: .1em .5em;
    background: #ff5063;
    color: #fff;
}

.multi-column-dropdown li a i {
    font-size: 1.1em;
    font-style: normal;
    color: #fff;
    text-transform: uppercase;
    margin: 3em 0 0;
    display: block;
    padding: .4em .5em;
    background: #3c43a4;
    text-align: center;
}

.dropdown-menu.columns-3 {
    min-width: 900px;
    padding: 30px 30px;
    left: -130%;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background: none;
    border: none;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent;
    /*-- agileits --*/
}

.nav>li>a:hover,
.nav>li>a:focus {
    background: none;
}

.navbar-nav>li>a {
    padding: 29px 18px 0;
}

.navbar-nav>li>a {
    padding: 20px 30px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #ff5063;
}

.navbar {
    margin-bottom: 0;
    z-index: 100;
}

.navigation {
    margin: 2em 0 0;
    text-align: center;
    background: #3c43a4;
}

.navbar-nav {
    float: none;
}

.navbar-nav>li:nth-child(1) {
    margin-left: 12em;
}

.w3ls_products_pos h4 {
    font-size: 2em;
    text-align: right;
    margin-bottom: 1em;
}

.w3ls_products_pos h4 i {
    margin: .5em 0 0;
    text-align: left;
    padding-left: 0.3em;
    color: #ff5063;
}

li.w3pages .dropdown-menu>li>a {
    color: #999;
    font-size: .9em;
    padding: 5px 25px;
    text-transform: uppercase;
}

li.w3pages ul.dropdown-menu {
    min-width: inherit;
    left: 3%;
}

li.w3pages .dropdown-menu>li>a:hover {
    color: #000;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #ff5063;
}

.blocks{
	background-color: green;
	width:50px;
	height:50px ;
	margin:5px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	display:inline;

}