<div  ng-show="showBlock"style="background-color:grey">
	<!--button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
	<div ng-repeat="block in blocks" class="blocks" ng-click="onBlockClick(block)">
		{{block.id}}
	</div-->
	
	<h1>BlockChain Status</h1>
	<button ng-repeat="block in blocks" type="button" ng-hide="$first" class="btn btn-info btn-lg blocks" data-toggle="modal" data-target="#myModal" ng-click="onBlockClick(block)">{{block.id}}</button>
	<div class="modal fade" id="myModal" role="dialog" >
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content" style="width: 1000px;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Block {{selectedBlock.id}} detail</h4>
        </div>
        <div class="modal-body">
			<div ng-repeat="transaction in selectedBlock.transactions">
				<div>
					ChainCodeId : {{transaction.chaincodeID}}
				</div>
				<div>
					Payload : {{transaction.payload}}
				</div>
				<div>
					Date: {{transaction.timestamp.seconds*1000 | date:'dd-MM-yyyy HH:mm:ss Z'}}
				</div>
			</div>
			
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
</div>