<div ng-controller="headerCtrl as header" class="navbar navbar-default" role="navigation">
    <!-- header -->
    <div class="header" id="home1">
        <div class="container">
            <div class="w3l_login">
                welcome
                <a href="#!/loginBS"><span class="glyphicon glyphicon-user" aria-hidden="true"> </span></a>
                <span class="w3l_login">  {{ header.loginUser}}</span>
            </div>
            <div class="w3l_logo">
                <h1><a href="#!/home">eLogcard</a></h1>
            </div>
        </div>
    </div>

    <!-- //header -->
    <!-- navigation -->
    <div class="navigation">
        <div class="container">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header nav_2">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="#!/home">Home</a></li>
                        <!-- Mega Menu -->

                        <li><a href="#!/addpart">add part</a></li>
                        <li><a href="#!/showparts">show my part's</a></li>
                        <!--<li><a href="#!/showpartsdemo">show my part's demo</a></li>

                    <li><a href="#!/showpartlog">show log's part </a></li>ng-click="showPartsCtrl.doClickShowLog( x.id)"
<a ng-click="header.doClickLogOut()">Sign out</a>
                    -->

                        <li><a ng-show="header.connected" } href='#'>logout</a>

                        </li>



                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<script src="../scripts/app.js"></script>
<script src="../scripts/controllers/header.js"></script>
