<div ng-controller="headerCtrl as header" class="navbar navbar-default" role="navigation">
    <!-- header -->
    <div class="header" id="home1">
        <div class="container">
            <div class="w3l_login">
                welcome
                <a href="#!/loginBS"><span class="glyphicon glyphicon-user" aria-hidden="true"> </span></a>
                <span class="w3l_login">  {{ header.loginUser}}</span>
            </div>
            <div class="w3l_logo">
                <h1><a href="#!/home">eLogcard</a></h1>
            </div>
        </div>
    </div>

    <!-- //header -->

    <!-- navigation -->
    <div class="navigation">
        <div class="container">
            <nav class="navbar navbar-default">
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="#!/home">Home</a></li>
                        <!-- Parts -->
                        <li ng-show="header.connected" class="w3pages" ng-class="{open: header.openParts }" ng-click="header.doClickOpenParts($event)"><a href="" class="dropdown-toggle " data-toggle="dropdown " role="button " aria-haspopup="true " aria-expanded="false ">Parts <span class="caret "></span></a>
                            <ul class="dropdown-menu ">
                                <li><a href="#!/addpart">Create a part</a></li>
                                <li><a href="#!/showparts">show my parts</a></li>
                            </ul>
                        </li>
                        <!-- assemblies -->
                        <li ng-show="header.connected" class="w3pages" ng-class="{open: header.openAssembly }" ng-click="header.doClickOpenAssembly($event)"><a href="" class="dropdown-toggle " data-toggle="dropdown " role="button " aria-haspopup="true " aria-expanded="false ">Assemblies <span class="caret "></span></a>
                            <ul class="dropdown-menu ">
                                <li><a href="#!/addassembly">Create an assembly</a></li>
                                <li><a href="#!/showassemblies">show my assemblies</a></li>
                            </ul>
                        </li>
                        <!-- AirCrafts -->
                        <li ng-show="header.connected" class="w3pages" ng-class="{open: header.openAirCraft }" ng-click="header.doClickOpenAirCraf($event)"><a href="" class="dropdown-toggle " data-toggle="dropdown " role="button " aria-haspopup="true " aria-expanded="false ">Aircrafts <span class="caret "></span></a>
                            <ul class="dropdown-menu ">
                                <li><a href="#!/addaircraft">Create an AirCraft</a></li>
                                <li><a href="#!/showaircrafts">show my Aircrafts</a></li>
                            </ul>
                        </li>

                        <li><a ng-show="header.connected " } ng-click="header.doClicklogOut($event)" href="">logout</a>

                        </li>

                    </ul>
                </div>
            </nav>
        </div>
    </div>

</div>

<script src="../scripts/app.js "></script>
<script src="../scripts/controllers/header.js "></script>
